/* ContactForm.module.css */
.contactForm {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contactForm .mainTitle {
  font-size: 2rem; /* CareBridgeお問い合せの文字サイズ */
  margin-bottom: 1.5rem;
  color: #023059;
}

.contactForm .sectionTitle {
  font-size: 1.5rem; /* お問い合せ内容やお客様情報の文字サイズ */
  margin-bottom: 1rem;
  color: #023059;
}

.contactForm .required {
  color: red; /* 必須項目に赤い*を追加 */
  margin-left: 0.25rem;
}

.contactForm .error {
  color: red; /* エラーメッセージのカラー */
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.contactForm input, 
.contactForm textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contactForm input[type="checkbox"] {
  width: auto;
  margin-right: 0.5rem;
}

.contactForm .privacyPolicyBox {
  height: 150px; /* プライバシーポリシーを表示するボックスの高さ */
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}

.contactForm button {
  padding: 1rem 2rem;
  background-color: #023059;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contactForm button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
